<div style="text-align:center; padding-top: 100px;">
<div style="display: inline-grid; width: 60%;">
<mat-form-field>
    <mat-label>First Name</mat-label>
    <input matInput required>
  </mat-form-field>
  <mat-form-field>
    <mat-label>Last Name</mat-label>
    <input matInput required>
  </mat-form-field>
  <mat-form-field>
    <mat-label>E-Mail Address</mat-label>
    <input matInput required>
  </mat-form-field>
  <mat-form-field>
    <mat-label>Home Address</mat-label>
    <input matInput required>
  </mat-form-field>
  <mat-form-field>
    <mat-label>Area Needing Work</mat-label>
    <mat-select required>
      <mat-option *ngFor="let location of neededWorkArea" [value]="location.area">{{location.area}}</mat-option>
    </mat-select>
  </mat-form-field>
  <mat-form-field >
    <mat-label>Description of request</mat-label>
    <textarea matInput style="height: 400px" required></textarea>
  </mat-form-field>
  </div>
</div>
  <button style="margin-left: 73%; background-color: black;" mat-fab extended>
    <mat-icon style="color: white">send</mat-icon>
    <span style="color: white">Submit Request</span> 
  </button>