<form action="https://formsubmit.co/4279ed21f5db7fdfcd843445c11d4990" method="POST">
<!-- Honey -->
<input type="text" name="_honey" style="display:none">
<!-- Captcha Disabled -->
<input type="hidden" name="_captcha" value="false">
<input type="hidden" name="_next" value="http://localhost:4200/success-form">
<!-- Contact us form -->
<div style="text-align:center; padding-top: 100px;">
<div style="display: inline-grid; width: 60%;">
<mat-form-field>
    <mat-label for="firstName">First Name</mat-label>
    <input matInput required id="firstName" name="First&nbsp;Name">
  </mat-form-field>
  <mat-form-field>
    <mat-label for="lastName">Last Name</mat-label>
    <input matInput required id="lastName" name="Last&nbsp;Name">
  </mat-form-field>
  <mat-form-field>
    <mat-label for="emailAddress">E-Mail Address</mat-label>
    <input matInput required id="emailAddress" name="Email&nbsp;Address"> 
  </mat-form-field>
  <mat-form-field>
    <mat-label for="phoneNumber">Phone Number</mat-label>
    <input matInput required id="phoneNumber" name="Phone&nbsp;Number">  
  </mat-form-field>
  <mat-form-field>
    <mat-label for="homeAddress">Home Address</mat-label>
    <input matInput required id="homeAddress" name="Home&nbsp;Address">
  </mat-form-field>
  <mat-form-field>
    <mat-label for="areaNeedingWork">Area Needing Work</mat-label>
    <mat-select required id="areaNeedingWork">
      <mat-option *ngFor="let location of neededWorkArea" [value]="location.area" name="Area&nbsp;Needing&nbsp;Work">{{location.area}}</mat-option>
    </mat-select>
  </mat-form-field>
  <mat-form-field >
    <mat-label for="descriptionOfRequest">Description of request</mat-label>
    <textarea matInput style="height: 400px" required id="descriptionOfRequest" name="Description&nbsp;of&nbsp;request"></textarea>
  </mat-form-field>
  </div>
</div>
  <button style="margin-left: 73%; background-color: black;" mat-fab extended>
    <mat-icon style="color: white">send</mat-icon>
    <span style="color: white">Submit Request</span> 
  </button>
</form>