<div style="padding-left: 500px;">
<div style="padding-top: 100px; display: flex; padding-right: 600px">
    <img src="{{ image }}" alt="" width="40%">
    <ul style="font-size: 17px;">
    <div>
        Universal Design LLC is a reputable construction company based out of the Greater Philadelphia area. Established in the early 2000's, our company has been dedicated to providing exceptional construction services and unparalleled customer satisfaction.
        With our vast experience and unwavering commitment to quality, we have earned a solid reputation as a trusted name in the industry.
    </div>
    <br />
    <div>
        At Universal Design LLC, we believe that your home should be a place where you feel truly content and at ease. Our team of skilled professionals is driven by the goal of making everyone love their home.
            Whether you need a minor repair or a complete renovation, we have the expertise to handle any project with precision and finesse.
    </div>
    <br/>
    <div>
        What sets us apart from other construction companies is our unwavering dedication to customer satisfaction. We understand that your home is a reflection of your personal style and aspirations, and we strive to bring your vision to life.
    Our team of experienced craftsmen and designers works closely with each client to ensure that their unique preferences and requirements are incorporated into every aspect of the project.
    </div>
    <br/>
    <div>
        At Universal Design LLC, we firmly believe in the power of innovation and adaptability. Our team stays up-to-date with the latest industry trends and technologies, enabling us to offer cutting-edge solutions and deliver exceptional results.
    We are well-equipped to handle a wide range of projects, from residential remodeling and renovations to commercial construction.
    </div>
    <br/>
    <div>
        When you choose Universal Design LLC, you can rest assured that you are working with a company that can fix anything.
    Our team possesses the skills, expertise, and attention to detail necessary to tackle even the most complex construction challenges.
    We take pride in our ability to deliver outstanding craftsmanship and superior service, exceeding our clients' expectations every step of the way.
    </div>
    <br/>
    <div>
        Whether you are looking to enhance the beauty of your home, increase its functionality, or embark on a new construction project, Universal Design LLC is your trusted partner.
        We are committed to transforming your vision into reality, creating spaces that you will love and cherish for years to come.
    </div>
    <br/>
    <div>
        Contact us today to discover how Universal Design LLC can turn your dreams into a living reality.
    </div>
    <br/>
    </ul>
</div>
</div>