<div style="text-align: center; padding-top: 200px;">
    <ul>
    <div style="font-size: 20px;">
    Thank you for contacting Universal Design LLC!
    </div>
    <br />
    <div style="font-size: 20px;">
    We appreciate your interest in our services and have received your inquiry. Our team is dedicated to providing prompt and professional assistance. We will review your message carefully and aim to provide you with a response within 48 hours.
    </div>
    <br />
    <div style="font-size: 20px;">
    Once again, we want to express our gratitude for considering Universal Design LLC for your construction needs. We look forward to the opportunity to serve you and turn your vision into reality.
    </div>
    <br />
    <div style="font-size: 20px;">
    Best regards,
    Universal Design LLC
    </div>
</ul>
</div>