<div style="padding-top: 2%;">
    <mat-grid-list cols="2" style="margin-left: 2%; margin-right: 2%" rowHeight="2:1" gutterSize="1%">
    <a routerLink="/front-facade">
    <mat-grid-tile class="patternForTiles">
        <div style=" font-size: 100px; font-size: 3.5vw; color: white;">Front Facade</div>
    </mat-grid-tile>
    </a>
    <a routerLink="/interior">
    <mat-grid-tile class="patternForTiles"> 
        <div style=" font-size: 100px; font-size: 3.5vw; color: white;">Interior</div>
    </mat-grid-tile>
    </a>
    <a routerLink="/kitchen">
    <mat-grid-tile class="patternForTiles">
        <div style=" font-size: 100px; font-size: 3.5vw; color: white;">Kitchen</div>
    </mat-grid-tile>
    </a>
    <a routerLink="/bathroom">
    <mat-grid-tile class="patternForTiles">
        <div style=" font-size: 100px; font-size: 3.5vw; color: white;">Bathroom</div>
    </mat-grid-tile>
    </a>
    <a routerLink="/outdoor">
    <mat-grid-tile class="patternForTiles">
        <div style=" font-size: 100px; font-size: 3.5vw; color: white;">Outdoor</div>
    </mat-grid-tile>
    </a>
    </mat-grid-list>
</div>