  <!-- HEADER -->
  <mat-toolbar style="background-color: black">
    <mat-toolbar-row style="color: white">
      <button mat-icon-button disabled style="color: white" aria-label="Example icon-button with heart icon">
        <mat-icon>phone book</mat-icon>
      </button>
      <span style="font-size: 15px;">Phone: (215)-990-7339 </span>
      <span style="margin-left: 20px; margin-right: 20px; font-size: 15px;"> | </span>
      <a href="mailto:universaldesignllc@gmail.com" style="color: white;">
      <button mat-icon-button aria-label="Example icon-button with heart icon">
        <mat-icon>email</mat-icon>
      </button>
      </a>
      <span style="font-size: 15px;">Email: UniversalDesignLLC@gmail.com</span>
      <span class="custom-flex-spacer "></span>
      <a href="https://www.facebook.com/profile.php?id=100063615907788" target='_blank' style="color: white">
      <button mat-icon-button aria-label="Example icon-button with share icon">
        <mat-icon>facebook</mat-icon>
      </button>
    </a>
      <button mat-icon-button aria-label="Example icon-button with share icon">
        <mat-icon>share</mat-icon>
      </button>
    </mat-toolbar-row>
  </mat-toolbar>
<!-- SUBHEADER -->
<mat-toolbar style="background: none">
  <mat-toolbar-row style="color: black; justify-content: center;">
    <mat-nav-list aria-label="Main navigation">
      <a mat-list-item routerLink="/">
        <span mat-line>Home</span>
      </a>
    </mat-nav-list>
    <mat-nav-list>
      <a mat-list-item >
        <span mat-line>Services</span>
      </a>
    </mat-nav-list>
    <mat-nav-list >
      <a mat-list-item >
        <span mat-line>Quotes</span>
      </a>
    </mat-nav-list>
    <mat-nav-list >
      <a mat-list-item >
        <span mat-line>Portfolio</span>
      </a>
    </mat-nav-list>
    <mat-nav-list >
      <a mat-list-item routerLink="/about-us">
        <span mat-line>About Us</span>
      </a>
    </mat-nav-list>
    <mat-nav-list >
      <a mat-list-item routerLink="/contact-us">
        <span mat-line>Contact Us</span>
      </a>
    </mat-nav-list>
  </mat-toolbar-row>
</mat-toolbar>

<!-- Image Slider -->
<div *ngIf="isHomeRoute()" style="padding-top: 100px">
<ngx-slick-carousel class="carousel" 
  #slickModal="slick-carousel" 
  [config]="slideConfig" 
  (init)="slickInit($event)"
  (breakpoint)="breakpoint($event)"
  (afterChange)="afterChange($event)"
  (beforeChange)="beforeChange($event)">
<div ngxSlickItem *ngFor="let image of images" class="slide">
<!-- <img src="{{ image.img }}" alt="" width="70%" height="800px"> -->
<img src="{{ image.img }}" alt="" width="100%" height="800px">
</div>
</ngx-slick-carousel>
</div>
<!-- <button (click)="addSlide()">Add</button>
<button (click)="removeSlide()">Remove</button>
<button (click)="slickModal.slickGoTo(2)">slickGoto 2</button>
<button (click)="slickModal.unslick()">unslick</button> -->

<router-outlet></router-outlet>
