<div style="padding-top: 2%;">
    <mat-grid-list cols="3" style="margin-left: 2%; margin-right: 2%;" rowHeight="2:1" gutterSize="1%">
<mat-grid-tile style="background-color:black; border-radius: 10px;">
    <mat-icon style="color: white; transform: scale(6);">home</mat-icon>
    <mat-grid-tile-footer style="margin-bottom: 10px; justify-content: center">
        <p style="color: white; margin-left: 10px; font-size: 20px; font-weight: bold;">ROOFING</p>
        <p style="color: white; margin-left: 5px; font-size: 20px; font-weight: bold;">SIDING</p>
        <p style="color: white; margin-left: 5px; font-size: 20px; font-weight: bold;">WINDOWS</p>
        <p style="color: white; margin-left: 5px; font-size: 20px; font-weight: bold;">DOORS</p>
        <p style="color: white; margin-left: 5px; font-size: 20px; font-weight: bold;">DECKS</p>
        </mat-grid-tile-footer>
    </mat-grid-tile>
    
    <mat-grid-tile style="background-color:black; border-radius: 10px;">
        <mat-icon style="color: white; transform: scale(6);">kitchen</mat-icon>
        <mat-grid-tile-footer style="margin-bottom: 10px; justify-content: center">
            <p style="color: white; font-size: 20px; font-weight: bold;">KITCHEN SPECIALIST</p>
            </mat-grid-tile-footer>
        </mat-grid-tile>

        <mat-grid-tile style="background-color:black; border-radius: 10px;">
            <mat-icon style="color: white; transform: scale(6);">hot_tub</mat-icon>
            <mat-grid-tile-footer style="margin-bottom: 10px; justify-content: center">
                <p style="color: white; font-size: 20px; font-weight: bold;">BATHROOM SPECIALIST</p>
                </mat-grid-tile-footer>
            </mat-grid-tile>
    </mat-grid-list>
</div>